splunk-connect-test/target/test-classes/splunk-connect-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <!-- <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/> -->
    <http:request-config name="HTTP_Request_Configuration_splunk" host="${splunk.host}" port="${splunk.port}" doc:name="HTTP Request Configuration"/>
    <cloudhub:config name="Cloudhub__Basic_Auth_Authentication" username="${cloudhub.user}" password="${cloudhub.password}" doc:name="Cloudhub: Basic Auth Authentication"/>
    <cloudhub:config name="Cloudhub__Basic_Auth_Authentication1" username="${cloudhub.user}" password="${cloudhub.password}" doc:name="Cloudhub: Basic Auth Authentication"/>
    
    <flow name="cloudhub-to-splunk-data-push">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="${poll.frequency}" timeUnit="MINUTES"/>
            <set-payload value="Dummy trigger payload" doc:name="Set Payload"/>
        </poll>
        
        
        
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="get-domain-flow" doc:name="get-domain-flow"/>
        <catch-exception-strategy enableNotifications="false" logException="false" doc:name="Catch Exception Strategy">
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            <set-payload value="#[exception.cause.message]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    
    <sub-flow name="get-domain-flow">
        <cloudhub:list-applications config-ref="Cloudhub__Basic_Auth_Authentication" doc:name="Cloudhub"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <logger message="payload : #[payload]  domain name:  #[payload['domain']]" level="INFO" doc:name="Logger"/>
        <flow-ref name="getCloudHubLogs-push-to-splunk-Flow" doc:name="getCloudHubLogs-push-to-splunk-Flow"/>
    </sub-flow>
    
    <sub-flow name="getCloudHubLogs-push-to-splunk-Flow">
        <cloudhub:retrieve-application-logs config-ref="Cloudhub__Basic_Auth_Authentication1" domain="#[payload['domain']]"   doc:name="Cloudhub"  tail="true"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="{&quot;event&quot;:#[payload]}" doc:name="Set Event Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration_splunk" path="/services/collector" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="${splunk.token}"/>
            </http:request-builder>
        </http:request>
        <set-payload value="HTTP Status : #[message.inboundProperties['http.status']]  HTTP Response :  #[message.inboundProperties['http.reason']]  " doc:name="Set Payload"/>
    </sub-flow>
    
</mule>
